<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NER web</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/assets/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='/css/styles.css')}}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">CDCDA Data Team GenAI Platform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/data">Data</a></li>
                        <li class="nav-item"><a class="nav-link" href="/train">Train</a></li>
                        <li class="nav-item"><a class="nav-link" href="/inference">Inference</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{ url_for('static', filename='/assets/Generative-AI_Information-Retrieval.jpg')}}" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">NER Web: Unveiling Vietnamese Crime Data Insights</h1>
                    <p class="beautiful-font">NER Web is your go-to web application showcasing Named Entity Recognition (NER) prowess tailored for Vietnamese crime data. Seamlessly input text data and visualize extracted named entities like names and birthdates through our intuitive interface</p>
                    <p class="beautiful-font">NER Web是專為越南犯罪數據量身定制的命名實體識別(NER)。 通過我們直觀的界面輸入文本數據可視化地提取命名實體，如姓名和出生日期。</p>
                    <a class="btn btn-primary" href="/about">Learn More</a>
                </div>
            </div>
            
            <hr>
            
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Data Inspect</h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ url_for('static', filename='/assets/data-inspect.gif')}}" alt="data_gif">
                            <p class="card-text my-1">Use Data Inspect to review your data for NER model training. Gain insights to decide if it's right for your project.</p>
                            <p class="card-text">使用 Data Inspect 查看您的數據以進行NER模型培訓。 獲取見解以決定是否適合您的項目。</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/data">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Model Training</h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ url_for('static', filename='/assets/Artificial-intelligence-2.gif')}}" alt="train_gif">
                            <p class="card-text my-1">Streamline your model training process with our one-click data selection feature. Simply choose your data, and let our system handle the rest.</p>
                            <p class="card-text">使用我們的一鍵訓練模型功能。 只需選擇您的數據，讓我們的系統處理其餘部分。</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/train">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Model Inference</h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0 my-3" src="{{ url_for('static', filename='/assets/inference.gif')}}" alt="inference_gif">
                            <p class="card-text my-3">Simplify your model inference process with our streamlined solution. With just a click, effortlessly execute model inference, freeing you from the intricacies of the backend operations.</p>
                            <p class="card-text">使用我們的簡化解決方案簡化您的模型推斷過程。 只需點擊一下，輕鬆執行模型推斷，使您免於後端操作的復雜性。</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/predict">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
