<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NER web</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/assets/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='/css/styles.css')}}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">CDCDA Data Team GenAI Platform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <!--A drop down menu-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">NER services</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/data">Data</a></li>
                                <li><a class="dropdown-item" href="/train">Train</a></li>
                                <li><a class="dropdown-item" href="/inference">Inference</a></li>
                                <li><a class="dropdown-item" href="/similarity">Similarity</a></li>
                            </ul>
                        </li>
                        <!--End of drop down menu-->
                        <!--A drop down menu-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">LLM services</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/llm_generate">Extraction</a></li>
                                <li><a class="dropdown-item" href="/llm_dataset">Preview</a></li>
                                <li><a class="dropdown-item" href="/llm_similarity">Similarity</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row my-3 mx-5">
            <h1 class="font-weight-light">Model Training</h1>
            <p>Explore the Model Training Interface, where you can train models with a simple click. Choose your dataset and size effortlessly, tailored for Vietnamese crime data. With intuitive controls, select your dataset and size, initiating the training process seamlessly. This user-friendly interface puts the power of model training in your hands, making Named Entity Recognition (NER) technology accessible to you</p>
            <p>探索命名實體識別/專名識別（NER）模型訓練界面，您可以通過簡單點擊，選擇資料集，直接開始模型訓練過程。</p>
            <!--<a class="btn btn-primary col-lg-2" href="#!">Call to Action!</a>-->
        </div>

        <div class="d-flex justify-content-left mx-5" style="height: 7vh;">
            <form id="queryForm" class="form-inline">
              <div class="row">
                <div class="col">
                  <select class="form-select" id="datasetDropdown" aria-label="Select Dataset">
                      <option selected disabled>Select Dataset</option>
                      {% for dataset in datasets %}
                      <option value="{{ dataset }}">{{ dataset }}</option>
                      {% endfor %}
                  </select>
                </div>
              
                <div class="col">
                  <input type="number" class="form-control" id="datasetSize" name="datasetSize" placeholder="Extract Size" min="1">
                </div>

                <div class="col">
                    <select class="form-select" id="model" aria-label="Select Model">
                        <option selected disabled>Select Model</option>
                        <option value="NERModel_v1">NERModel_v1</option>
                        <option value="NERModel_v2">NERModel_v2</option>
                    </select>
                </div>

                <div class="col">
                  <button id="submitButton" type="button" onclick="submitQuery()" class="btn btn-primary">Select</button>

                  <button id="loadingButton" class="btn btn-primary" type="button" style="display: none;" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span>Loading...</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
                
    <div class="d-flex justify-content-center" id="trainTable" >
        <table class="table table-striped table-primary mx-5">
            <colgroup>
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 13%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 4%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">UUID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Dataset Description</th>
                    <th scope="col">Job Created Time</th>
                    <th scope="col">Job Ended Time</th>
                    <th scope="col">Job Duration</th>
                    <th scope="col">Model Path</th>
                    <th scope="col">Model Result</th>
                </tr>
            </thead>
            <tbody id="trainTableBody">
                {% for info in train_info %}
                    <tr>
                        <td>{{ info.UUID }}</td>
                        <td>{{ info.Status }}</td>
                        <td>{{ info['Dataset Description'] }}</td>
                        <td>{{ info['Job Created Time'] }}</td>
                        <td>{{ info['Job Ended Time'] }}</td>
                        <td>{{ info['Job Duration (s)'] }}</td>
                        <td>{{ info['Model Path'] }}</td>
                        <td>{{ info['Model Result'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>


    <script>
        // Function to submit query
        function submitQuery() {

            // Disable the select button
            document.getElementById('submitButton').setAttribute('disabled', 'disabled');
            // Hide the select button and show the loading button
            document.getElementById('submitButton').style.display = 'none';
            document.getElementById('loadingButton').style.display = 'block'; // or 'inline' depending on the desired display type

  
            var datasetSize = document.getElementById("datasetSize").value;
            var selectedDataset = document.getElementById("datasetDropdown").value;
            var selectedModel = document.getElementById("model").value;
            
            // Echo statement
            console.log("Submit button clicked!");
            console.log("Dataset: " + selectedDataset);
            console.log("Size: " + datasetSize);
            console.log("Model: " + selectedModel);

            // Send the dataset size and selected dataset to the server using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/train");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(JSON.stringify({ datasetSize: datasetSize, dataset: selectedDataset, model: selectedModel }));

            xhr.onload = function() {
                if (xhr.status == 200) {
                                              
                    document.getElementById('submitButton').removeAttribute('disabled');
                    // Show the select button and hide the loading button
                    document.getElementById('submitButton').style.display = 'block';
                    document.getElementById('loadingButton').style.display = 'none'; // or 'inline' depending on the desired display type


                    console.log("Response received!");
                    var response = JSON.parse(xhr.responseText);
                    var train_html = response.train_html;
                    console.log(train_html);
                    var table_html = "<table class='table table-striped table-primary mx-5'>" +
                                        "<colgroup>" +
                                            "<col style='width: 5%;'>" +
                                            "<col style='width: 5%;'>" +
                                            "<col style='width: 13%;'>" +
                                            "<col style='width: 10%;'>" +
                                            "<col style='width: 10%;'>" +
                                            "<col style='width: 4%;'>" +
                                            "<col style='width: 10%;'>" +
                                            "<col style='width: 10%;'>" +
                                        "</colgroup>" +
                                            train_html + // Insert your dataset_html here
                                        "</table>"
                    console.log(table_html);
                    document.getElementById("trainTable").innerHTML = "";
                    document.getElementById("trainTable").innerHTML = table_html;
                                              
                } else {
                    alert("Error: " + xhr.status);
                    document.getElementById('submitButton').removeAttribute('disabled');
                    // Show the select button and hide the loading button
                    document.getElementById('submitButton').style.display = 'block';
                    document.getElementById('loadingButton').style.display = 'none'; // or 'inline' depending on the desired display type
                }
            };
        }
    </script>

        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
